:root {
  --color-primary: #5d2bff;
  --color-secondary: #5d2bff;
  --color-theme-100: #ffffff;
  --color-theme-200: #f6f6f9;
  --color-theme-300: #ebebee;
  --color-theme-400: #d7d7da;
  --color-theme-500: #b9b9bd;
  --color-theme-600: #89898e;
  --color-theme-700: #6d6d73;
  --color-theme-800: #5b5b61;
  --color-theme-900: #303037;
}
