@import 'tailwindcss';
@import './styles/variables';

/* Styles globaux pour tout le projet */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  background-color: #f6f6f9;
  background-color: var(--color-theme-200);
  color: #5b5b61;
  color: var(--color-theme-800);
}

/* Appliquer une meilleure gestion de la boîte */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Appliquer la police globalement à tout le projet */
body,
input,
button,
textarea,
select {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
